<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.anaralith.freerunning"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="22" />

    <!--Allow use of GPS-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.RunningActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxTgd9aKY6kqihqSuBBefLDr" />

        <!--<activity-->
            <!--android:name=".MapsActivity"-->
            <!--android:label="@string/title_activity_maps">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <receiver android:name=".metier.GPSUpdateReceiver"
            android:exported="false"
            android:process=":remote">
            <!--<uses-permission android:name="fr.anaralith.freerunning.permission.gps"/>-->
            <intent-filter>
                <action android:name="fr.anaralith.freerunning.intent.action.gps" />
                <action android:name="fr.anaralith.freerunning.intent.action.stopGPS" />
            </intent-filter>
        </receiver>

        <service android:name=".metier.GPSService"
            android:process=":gps" >
            <intent-filter>
                <action android:name="fr.anaralith.freerunning.intent.gps" />
            </intent-filter>
        </service>


    </application>

</manifest>